.profileUpdatePage {
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: auto;

  .formContainer {
    flex: 2; // Điều chỉnh kích thước linh hoạt
    min-width: 500px; // Đảm bảo form không bị quá nhỏ
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;

    form {
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h1 {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font-weight: bold;
          color: #555;
        }

        input, select {
          padding: 12px;
          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 16px;

          &:focus {
            border-color: teal;
            outline: none;
            box-shadow: 0 0 4px rgba(0, 128, 128, 0.5);
          }
        }
        textarea {
          height: 200px;
          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 16px;
          padding: 12px;
          justify-content: center;
          font-family: Arial, sans-serif;

          &:focus {
            border-color: teal;
            outline: none;
            box-shadow: 0 0 4px rgba(0, 128, 128, 0.5);
          }
        }
      }

      button {
        margin-top: 10px;
        padding: 12px;
        border-radius: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darkcyan;
        }
      }
    }
  }

  .sideContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ddd;
    }

    .uploadWidget {
      margin-top: 1rem;
    }
    button {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darkcyan;
      }
    }

    
  }
}
